.card{
    height : 30vh;
    width: 40vw;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table{
    height: 100%;
    width: 100%;
}
table , td, tr{
    border: none;
    width: 100%;
}
td{
    padding-left: 20px;
}
.con{
    width: 50%;
}
.heading{
    font-weight: bold;
    color: grey;
    font-size: 12px;
}